@model SitecoreMvcCarousel.Models.CarouselViewModel
<div class="carousel">
    @foreach (var carouselSlide in Model.CarouselSlides)
    {
        <div class="carousel-slide">
            <div class="carousel-slide-content">
                <h1>@carouselSlide.Header</h1>
                <p>@carouselSlide.SubHead</p>
                @carouselSlide.CallToAction
            </div>
            @carouselSlide.Background
            <div class="clearfix"></div>
        </div>
    }
</div>
