<div class="carousel-slide">
    <div class="carousel-slide-content">
        <h1>@Html.Sitecore().Field("Header")</h1>
        <p>@Html.Sitecore().Field("SubHead")</p>
        @Html.Sitecore().Field("CallToAction")
    </div>
    @Html.Sitecore().Field("Background")
    <div class="clearfix"></div>
</div>
